body {
    background-color: #ffeeee;
    margin-left: 3rem;
    padding-top: 2rem;
}

button {
    padding: 10px;
    background-color: rgb(255, 174, 167);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button:hover {
    background-color:  rgb(230, 123, 113);
}